html  {
  background: linear-gradient(#fcc, #f88);
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  scale: 2;
  transform: scale(2);
  transform-origin: 50% -4%;
}

.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 300px;
  animation: 0.8s 0.2s both container-enter;
}

.title-text {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  margin: 0 auto;
  animation: 0.5s 1.0s both fade-in;
}

.counter {
  font-size: 10px;
  margin: 5, 5, 5, 5;
  animation: 0.5s 1.1s both fade-in;
}

input {
  max-width: 144px;
}

.input-form  {
  margin: 20px auto 4px;
  animation: 1s 1.2s both fade-in;
}

ul  {
  margin: 10px auto;
}

li {
  list-style-type: none;
  margin-right: 38px;
  padding: 3px;
  cursor: pointer;
  animation: 0.5s 0s both add-task;
}

li > span:nth-child(1):hover {
  text-decoration: line-through;
}

.completed {
text-decoration: line-through;
animation: 0.3s 0s fade-out forwards;
}

.trashcan {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.trashcan:hover {
  opacity: 1;
}

.error-msg {
  display: none;
  color: red;
  font-style: italic;
  font-size: 10px;
  margin: 5px auto 10px;
  opacity: 0;
}

.error-msg.visible {
  display: block;
  animation: 1s both warning-msg;
}

@keyframes fade-out {
  from  {
    opacity: 1;
  }
  to  {
    opacity: 0.5;
  }
}

@keyframes container-enter {
  0% {
    opacity: 0;
    transform: translateY(-120%);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes warning-msg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes add-task {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}